        body {
            font-family : 'Poppins', sans-serif;
            background-image : url("../../kursus/assets/background.jpg");
            background-size : cover;
        }
        .table-color{
            background-color : white;
            border-radius : 8px;
            opacity : 0.92;
        }
        h1{
            font-weight : bold;
            font-size : 40px;
            color : white;
            letter-spacing:5px;
		}
		.section-form{
			background-color : white;
			height: 450px;
			width : 80%;
			border-radius : 16px;
			opacity : 0.9;
			position : relative;
		}
		hr{ 
			border-left: 4px solid #DEDEDE;
			height: 450px;
			position: absolute;
			left: 40%;
			margin-left: -3px;
			top: -17px;
			opacity : 0.5;
			
		}
		form{
			margin-left : 20%;
		}
